@model Clinica_UPQROO.Models.PlanTratamiento

<div class="container">
    <table class="table table-bordered table-responsive">
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="3" class="text-center">Plan de tratamiento</th>
            </tr>
            <tr>
                <th scope="col" class="col-md-3">Modalidad terapéutica</th>
                <th scope="col" class="col-md-6">Descripción</th>
                <th scope="col" class="col-md-3">Dosis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[Modalidad]</td>
                <td>[Descripcion]</td>
                <td>[Dosis]</td>
            </tr>
            <tr>
                <td>[Modalidad]</td>
                <td>[Descripcion]</td>
                <td>[Dosis]</td>
            </tr>
            <tr>
                <td>[Modalidad]</td>
                <td>[Descripcion]</td>
                <td>[Dosis]</td>
            </tr>
        </tbody>
    </table>
</div>
